@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

main {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(240, 240, 240, 1));
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-block: 4rem;
  padding-top: 2.5rem;
  padding-inline: 4rem;
}

.container-hours-a-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hours-a-clock {
  font-size: 14.4rem;
  line-height: 18.2rem;
  letter-spacing: -1rem;
  font-weight: 700;
}

.hours-a-clock-description {
  font-size: 1.4rem;
  text-align: center;
  margin-top: -3rem;
}

.container-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-and-state {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
}

.icon-weather-and-degrees {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-weather {
}

.text-degrees {
  font-size: 4.8rem;
}

.container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-texts {
  display: flex;
  align-self: self-start;
  flex-direction: column;
  align-items: end;
  margin-right: 13.4rem;
  margin-top: 16.6rem;
}

.red-text-h3 {
  color: rgba(193, 45, 24, 1);
  font-size: 6.4rem;
  line-height: 8.1rem;
}

.red-text-h3:first-child {
  color: rgba(193, 45, 24, 1);
  font-size: 3.6rem;
  line-height: 4.5rem;
}

.black-text-p {
  font-size: 2.4rem;
  line-height: 3.04rem;
}

.footer {
  background: linear-gradient(rgba(33, 34, 33, 1), rgba(28, 29, 32, 1));
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: relative;
}

.first-div-text-footer {
  margin-left: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-footer{
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: end;
}

.border-white{
    width: 0.1rem;
    height: 6.1rem;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 2.9rem;
}

.container-refresh-page-in{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-align: end;
    gap: 3rem;
}

.seconds-number{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
    
}

.seconds-text{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7rem;
}

.container-buttons-footer{
    height: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
}

.container-buttons-footer p {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button-logout-continue-navegation{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(193, 50, 22, 1);
    height: 100%;
    padding-inline: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.button-logout{
    height: 100%;
    padding-inline: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}